

body {
    background: #5C5C5C;
    height: 100%;
}
p{
  margin: 0 auto;
}

.navbar{
  
    padding-left: 116px;
    background: #000;
    height: 99px;
    width: 100%;
    top: 0;
    position: fixed;
    margin-left: -10px;
    margin-top: 0px;
   display: flex;
  
   align-items:center;
   
   
    
}
.nvButton{
  
  cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    border: none;
    background: #000;
    color: #fff;
    max-height: 55px;
    min-width:160px;
    /* margin-top: 20px; */
    border-radius:10px;

}
#role{
 margin-left: 55%;
}
.nvButton:hover{
  background-color: white;
    color :black;
    transition: all 0.5s ease-in-out;
}
.banner{
    
    
    min-height: 173px;
    max-width: 689px;
    border-radius: 80px;
    background: #202020;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    line-height:173px;
    align-items: center;
    margin: 0 auto;
    margin-top: 129px;
    text-align: center;

}

.form{
    margin: 0 auto;
    background: #202020;
    margin: 0 auto;
    width: 60%;
    height:40%;
    padding:100px;
    font-size: 26px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}
input{
    margin-left: 10px;
    background: #5C5C5C;
    border:none;
}
input[type=submit]:hover {
    background-color: #fff;
    color: #000;
  }
  input[type=text], select {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    border:none;
    
  } 
  input[type=password], select {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    border:none;
    
  }   
input[type=submit] {
    width: 100%;
    margin: 8px 0;
    background-color: #404040;
    color: white;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size:36px;
    border-radius: 26px;
    cursor: pointer;
  }
  #roleSelect{
    margin-top: -40px;
    
    
    align-items: center;
    text-align: center;
    
    position: relative;
      display: flex;
      flex-direction: row;
      
  }
  #roleSelect>button{
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 576px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    background-color: #202020;
    width: 40%;
    position: relative;
    border-radius:32px;
    font-size: 46px;;
    
    
  }
  #roleSelect>button:hover{
    
    background-color: white;
    color :black;
    transition: all 0.5s ease-in-out;
  }
  .listings{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    scroll-behavior: smooth;
    align-items:center;
    margin-left: 5%;
    color: white;
    font-size: 26px;
    margin-top: -10px;
    position: relative;
    
  
    
  }
  .listings>button{
    
    border: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    height: 500px;
    background:white;
    width:350px;
    border-radius: 30px;

    margin-right:30px;
    margin-top:55px;
    cursor: pointer;

  }
  .listings>button:hover{
    
    box-shadow: 0 0 35px   rgb(255, 255, 255);
    

  }

  .imgListing{
    background:black;
    height:60%;
    margin-top: 0 auto;
    border-radius: 30px 30px 0px 0px;
  }
  .infoListing{
    border-radius: 0 0 30px 30px;
    background:tomato;
    height: 40%;
  }